body{direction: rtl;
    background-color: turquoise;
}

.j{float: left;



}
#hh{text-align: right;margin-right: 50px;


}

input{
    padding: 5px;
    background-color: rgba(245, 96, 200, 0.897);
    width:70px;;
    width:180px;
    font-size: 20px;
    border-radius: 30%;
    border-style: none;
    transition: width 2s;

}

input:hover{
    background-color: rgba(245, 96, 200, 0.897);
    width:140px;;
    width: 80px;
}
h1{
    margin-right: 20px;
}



